html {
  font-family: 'Times New Roman', Times, serif;
}

.grid {
  background: rgb(249, 246, 240);
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 1px;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

h1 {
  display: inline-block; /* definir o elemento h1 como elemento de bloco */
  font-size: 30px;
}

img {
  display: inline-block; /* definir a imagem como elemento de bloco */
  margin-right: 20px; /* adicionar uma margem à direita para separar os elementos */
  width: 52px;
  height: 52px;
}

label {
  padding-bottom: 10px;
}

input {
  margin-top: 10px;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 4px rgba(102, 175, 233, .6);
}

button {
  background: rgb(121, 221, 253);
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  padding: 1rem;
  border: 0.5px;
  border-radius: 4px;
  text-align: center;
  width: 110px;
  height: 10px;
  line-height: 1px;
  position: relative; /* adiciona position relative para o botão */
}

button span {
  position: absolute; /* adiciona position absolute para o texto dentro do botão */
  left: 50%; /* posiciona o texto no centro do botão */
  top: 50%;
  transform: translate(-40%, -50%); /* centraliza o texto vertical e horizontalmente */
}

button:hover {
  background:rgb(247, 81, 87);
  color: #fff;
}

p {
  font-size: 12px;
  font-weight: 500;
  color: rgb(121, 221, 253);
}